.textPostForm {
    display: flex;
    flex-direction: column;
    width: 33vw;
    position: fixed;
    left: 33vw;
    top: 20vw;
    background-color: white;
    align-items: center;
    border-radius: 5px;
}

.textPostForm input {
    width: 80%;
    margin: 5px;
}

.textPostForm textarea {
    width: 80%;
    margin: 5px;
}

.imagePostForm {
    display: flex;
    flex-direction: column;
}

.postbuttons {
    display: flex;
    width: 40vw;
    justify-content: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.postbuttons button {
    background-color: transparent;
    font-size: 100%;
    border: none;
}

.tags {
    margin: 1em;
    color: gray;    
}

.post {
    background-color: white;
    border-radius: 5px;
    color: black;
    width: 50vw;
    margin-bottom: 10px;
}

.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: #111a47;
    border-bottom: gray solid 1px;
}

.nav input {
    height: 40px;
    width: 350px;
}

.nav ul {
    display: flex;
}

.nav li {
    list-style: none;
    margin: 5px;
}

.nav a:link{
    color: white;
    text-decoration: none;
}

.nav a:visited{
    color: white;
    text-decoration: none;
}

.nav a:hover{
    color: violet;
    text-decoration: none;
}
